.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 23px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: relative;
    display: inline-block;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 3px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
.css-input {
     padding: 9px;
     font-size: 21px;
     border-width: 1px;
     border-color: #003dff;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 6px;
    
}
 .css-input:focus {
     outline:none;
}
.button_all {
   -webkit-border-radius: 33px;
   -moz-border-radius: 33px;
   border-radius: 33px;
   color: #72777E;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   background-color: #FFFFFF;
   border: solid #337FED 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   
}

.button_all:hover {
   background: #1E62D0;
   border: solid #ACC9F2 4px;
   -webkit-border-radius: 33px;
   -moz-border-radius: 33px;
   border-radius: 33px;
   text-decoration: none;
}
.button_start {
   -webkit-border-radius: 33px;
   -moz-border-radius: 33px;
   border-radius: 33px;
   color: #72777E;
   font-family: Arial;
   font-size: 30px;
   font-weight: 100;
   padding: 10px;
   background-color: #FFFFFF;
   border: solid #337FED 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top:3%;
   
}

.button_start:hover{
   background: #1E62D0;
   border: solid #ACC9F2 4px;
   -webkit-border-radius: 33px;
   -moz-border-radius: 33px;
   border-radius: 33px;
   text-decoration: none;
}